div.MainTop{
    position: absolute;
    top: 320px;
    left: 370px;
}

div.descriptionAboutUs{
    font-family:Calibri;
    text-align: center;
    float: left;
    position: absolute;
    top: 700px;
    left: 50px;
    font-size: 18px;
    width: 1180px;
}

div.footerContactus{
    width:100%;
    height:100%;
    display:inline-block;
    margin-top: 680px;

}